<br>
<div class="row" style="margin-left: 10%;">
  <div class="col-sm-4">
    <img src="{{writer.profilePictureUrl}}" style="height: 200px; width: 200px;">
    <h4 style="margin-left: 2%;">{{writer.name}}</h4>
    <p>I am a software engineer.I am a software engineer.I am a software engineer.
      I am a software engineer.I am a software engineer.</p>
  </div>
  <div class="col">
     This writer hasn't written any articles yet.Once he will write, his articles will be displayed here.
  </div>
</div>
